
Makefile
Makefile.in
.deps

/configure
/config.guess
/config.sub
/config.status
/config.log
/aclocal.m4
/autom4te.cache
/compile
/depcomp
/install-sh
/missing

/src/*.[ao]
/src/data/cred_dict.bin
/src/data/cred_dict.txt
/src/data/recon.conf
/src/proone
/src/proone_conf
/src/cred_dict.bin
/src/dvault.bin
/src/testlist
/src/config_gen.h
/src/config_gen.h.in
/src/config_gen.h.in~
/src/stamp-h1
/builds/*
