
Makefile
Makefile.in
.deps

/configure
/config.guess
/config.sub
/config.status
/config.log
/aclocal.m4
/autom4te.cache
/compile
/depcomp
/install-sh
/missing

/src/*.o
/builds/*
/scripts/pack_test
/scripts/*.log
